.Main{
    background-color: black;
    height: fit-content;
    min-height: 500px;
    padding: 1px;
}
.table{
    min-height: 400px;
    height: fit-content;
    border: white solid 3px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    background-color: black;
    
}
.Main p {
    position: relative;
    display: inline-block;
    left: 40%;
    margin: 10px 0px ;
    padding: 5px 10px;
    text-align: center;
    font-size: 30px;
    color: white;
    border: 2px solid rgb(180, 7, 7);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.Main th{
    color: red;
    background-color: #1d2226;
    padding: 5px;
    height: 50px;
    
    
}
.Main td{
    background-color: #1d2226;
    color: white;
    padding: 20px;
    width: fit-content;
}
.Main tr{
   width: 100%;
   background-color: #1d2226;
}
.Main tbody{
    width: 100%;
    background-color: #1d2226;
 }
.form{
    height: 200px;
    margin: 10px 10px;
    width: fit-content;
}
.form h1{
    position: relative;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: black;
    color: white;
    border: solid 2px red;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
   
}
.select{
    margin: 5px;
}
.btn{
    position: relative;
    left: 30%;
    margin-top: 5px;
}
.form-control:focus{
    box-shadow: 0 0 0 .25rem rgba(255, 1, 26, 0.463);
}
span{
    color: red;
}